{% load i18n %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top">
{% comment %}
Add a color to the NavBar if we are on localhost:8000
Just to avoid confusion...
{% endcomment %}
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'home' %}" contenteditable="false"
                   class="navbar-brand">
                    <img src="{% static 'img/layout/poet.png' %}"
                     style="vertical-align:middle;display:inline-block;max-height:100%;max-width:100%"
                     alt="{{ settings.APPLICATION_TITLE }}">
                </a>
            </li>
            <li>
                <a class="" href="{% url 'home' %}"
                   contenteditable="false" title="{{ settings.APPLICATION_TITLE }} Home"><i class="fa fa-home fa-lg"></i></a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="" href="{% url 'home' %}"
                   contenteditable="false" title="{{ settings.APPLICATION_TITLE }} Home">{{ settings.APPLICATION_TITLE }}<br>Home
                </a>
            </li>
            {% endif %}


        </ul>

        <ul class="nav navbar-nav navbar-right">
        </ul>

    </div>
</div>

