{% load i18n %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top">
{% comment %}
Add a color to the NavBar if we are on localhost:8000
Just to avoid confusion...
{% endcomment %}
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'home' %}" contenteditable="false"
                   class="navbar-brand">
                    <img src="{% static 'img/layout/poet.png' %}"
                     style="vertical-align:middle;display:inline-block;max-height:100%;max-width:100%"
                     alt="POET">
                </a>
            </li>
            <li>
                <a class="" href="{% url 'home' %}"
                   contenteditable="false" title="POET Home"><i class="fa fa-home fa-lg"></i> POET Home</a>
            </li>
            <li>
                <a class="" href="{% url 'member_list' %}"
                   contenteditable="false" title="Members"><i class="fa fa-users fa-lg"></i> Members</a>
            </li>
            <li>
                <a class="" href="{% url 'connections_list' %}"
                   contenteditable="false" title="Connections"><i class="fa fa-link fa-lg"></i> Connections</a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            {%  if user.is_authenticated %}
                <li>
                    <a href="{%  url 'users_list' %}" title="User Dashboard">
                        <i class="fa fa-cogs"></i> {{ user.get_full_name|default:user.username }}</a>
                </li>

                <li>
                    <a href="{% url "logout" %}?next=/" title="Logout">
                        {% trans "Logout" %} <i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "login" %}" title="Login">
                        {% trans "Login" %} <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;</a>
                </li>
            {% endif %}

        </ul>

    </div>
</div>

