{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% block content %}
    <div class="block-center">
        <h3 class="block-center-heading">{% trans "Licensee Connections" %}</h3>

        <table>


        {% if connections %}
             <tr>
            <th class="col-lg-3">User</th>
            <th class="col-lg-3">Organization </th>
            <th class="col-lg-2">Connected </th>
            <th class="col-lg-2">Updated </th>

            </tr>
            {% for connection in connections %}
                <tr>
                    <td class="col-lg-3"><a href="{% url "users_list" %}">{{ connection.user.username }}</a></td>
                    <td class="col-lg-3"><a href="{% url "member_view" connection.organization.id %}">{{ connection.organization }}</a></td>
                    <td class="col-lg-2">{{ connection.created }}</td>
                  <td class="col-lg-2">{{ connection.modified }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>

                <H3>No connections to display</H3>

            </tr>
        {% endif %}
        </table>
    <p></p>
          </div>
{% endblock content %}