{% extends "base.html" %}

{% block pretitle %}{% if member.organization == None %}Viewing Member
{% else %}Editing {{ member.organization }}{% endif %}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block pagename%}{% if member.organization == None %}Add Member{% else %}Viewing {{ member.organization }}{% endif %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'member_list' %}">Dashboard</a></li>


            <li class="active">{% if member.organization == None %}Add{% else %}View {% endif %}Member</li>
        </ul>
    </div>

{% endblock %}
{% block content %}

    <div class="container col-lg-12 well">
        <form method="post" action="" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            <table>
                <tr>
                    <th class="col-lg-4">
                       Organization
                    </th>
                    <td class="col-lg-8">
                       {{ member.organization }}
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-4">
                        Hostname
                    </th>
                    <td class="col-lg-8">
                        {{ member.hostname }}
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-4">
                        Owner Email
                    </th>
                    <td class="col-lg-8">
                        {{ member.owner_email }}
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-4">
                        Bundle
                    </th>
                    <td class="col-lg-8">
                        {{ member.bundle_reference }}
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-4">
                        Secret
                    </th>
                    <td class="col-lg-8">
                        {{ member.secret_key }}
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <a href="/member/{{ member.id }}/update/"><i class="fa fa-pencil-square fa-2x"></i> (Edit)</a>
                    </td>
                    <td>
                    {% if member.organization != None %}
                           <a href="{% url "member_list" %}">
                               <input type="button" class="btn-success btn-lg"
                                value="Back"/></a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url "member_list" %}"><input
                                type="button" class="btn-danger"
                                value="Cancel"/></a>
                    </td>
                    <td>
                        <input class="btn-success btn-lg" type="submit"
                               value="Save"/>
                    </td>
                    {% endif %}
                </tr>
            </table>
        </form>
    </div>



{% endblock %}
