{% extends "base.html" %}

{% block pretitle %}{% if member.organization == None %}Adding Member
{% else %}Editing {{ member.organization }}{% endif %}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block pagename%}Confirm delete of {{ object }}?{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'member_list' %}">Dashboard</a></li>


            <li class="active">Confirm Delete?</li>
        </ul>
    </div>

{% endblock %}
{% block content %}

    <div class="container col-lg-12 well">
           <div id="content-container" class="container p-none">
        <div class="side-p">
            <h3>Are you sure?</h3>
            <p>You're about to delete {{ object }}. <strong>Please confirm.</strong></p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="btn btn-link"
                       type="button" value="Cancel"
                       onclick="window.history.go(-1);"/>
                <input class="btn btn-lg btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>
    </div>



{% endblock %}
