{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% block breadcrumbs %}
       <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Home</a></li>
            <li class="active">Users</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Connections{% endblock %}
{% block content %}
    <div class="block-center">
        <h3 class="block-center-heading">{% trans "Users" %}</h3>

        <table>
        <tr>
            <th class="col-lg-3">User</th>
            <th class="col-lg-3">email</th>
            <th class="col-lg-2">First Name </th>
            <th class="col-lg-2">Last Name </th>
            <th class="col-lg-2">Connections</th>

        </tr>
        {% for user in users %}
            <tr>
                <td class="col-lg-3">{{ user.username }}</td>
                <td class="col-lg-3">{{ user.email }}</td>
                <td class="col-lg-2">{{ user.first_name }}</td>
                <td class="col-lg-2">{{ user.last_name }}</td>
                <td class="col-lg-2"><a href="{% url 'connection_list' user.id %}">Connections</a></td>
            </tr>
        {% endfor %}
        </table>
    <p></p>

          </div>
{% endblock content %}